<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Team Registration</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/register.css}">
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/images/favicon.ico}"/>

    <style>
        .alert {
            position: fixed;
            top: 20px;
            right: 20px;
            padding: 10px;
            border-radius: 5px;
            z-index: 1000;
        }
        .alert-success {
            background-color: #28a745;
            color: white;
        }
        .alert-danger {
            background-color: #dc3545;
            color: white;
        }
    </style>
</head>

<body>
    <div class="sidebar">
        <a th:href="@{/events}">Sự kiện</a>
        <a th:href="@{/register}">Đăng ký</a>
        <a th:href="@{/activities}">Danh sách hoạt động</a>
        <a th:href="@{/summary}">Tổng hợp</a>
    </div>
    <div class="main-container">
        <h2 class="page-title">Duyệt đăng ký</h2>
    </div>
    <div class="main-content">
        <div class="container">
            <table>
                <thead>
                    <tr>
                        <th>VĐV</th>
                        <th>Tên VĐV</th>
                        <th>Tên sự kiện</th>
                        <th>Tên đội</th>
                        <th>Thời gian đăng ký</th>
                        <th>Accept</th>
                    </tr>
                </thead>
				<tbody id="athleteTableBody" th:unless="${#lists.isEmpty(unRegisteredAthletes)}">
                    <tr th:each="athlete : ${unRegisteredAthletes}">
                        <td th:text="${athlete.getAthleteId()}"></td>
                        <td th:text="${athlete.getAthleteName()}"></td>
                        <td th:text="${athlete.getEventName()}"></td>
                        <td id="team-tr" th:text="'Đội ' + ${athlete.getTeamId()}"></td>
                        <td th:text="${athlete.getFormatedDateFromStartDateLocal()}"></td>
                        <td>
                            <button type="button" th:attr="data-athlete-id=${athlete.getAthleteId()}, 
                            data-event-id=${athlete.getEventId()}" 
                            onclick="acceptAthlete(this)">Duyệt</button>
                        </td>
                        <td>
                            <button type="button" th:attr="data-athlete-id=${athlete.getAthleteId()}, 
                            data-event-id=${athlete.getEventId()}" 
                            onclick="deleteAthlete(this)">Hủy</button>
                        </td>
                    </tr>
                    <tr th:if="${#lists.isEmpty(unRegisteredAthletes)}">
                        <td colspan="6" style="text-align: center;">Không có vận động viên nào</td>
                    </tr>
                </tbody>
            </table>
        </div>
    <div class="footer-left">
        <a href="https://www.strava.com" style="color: #005f73; text-decoration: none; display: flex; align-items: center;">
            <img th:src="@{/images/api_logo_pwrdBy_strava_horiz_white.png}" width=50% height=50%/>
        </a>
    </div>
        <div class="footer-right">Developed by ERP</div>
    </div>
    <script>
        function acceptAthlete(button) {
            const athleteId = button.getAttribute("data-athlete-id");
            const eventId = button.getAttribute("data-event-id");

            console.log("Accepting athlete with ID:", athleteId, "for event ID:", eventId);

            fetch("/runner/register/accept", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({ athleteId: athleteId, eventId: eventId })
            })
            .then(response => {
                if (response.status === 200) {
                    showAlert("Duyệt thành công", "success");
                    button.closest("tr").remove();
                } else {
                    showAlert("Duyệt không thành công", "danger");
                }
            })
            .catch(error => console.error("Error accepting athlete:", error));
        }

        function deleteAthlete(button) {
            const athleteId = button.getAttribute("data-athlete-id");
            const eventId = button.getAttribute("data-event-id");

            console.log("Deleting athlete with ID:", athleteId, "for event ID:", eventId);

            fetch("/runner/register/delete", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({ athleteId: athleteId, eventId: eventId })
            })
            .then(response => {
                if (response.status === 200) {
                    showAlert("Hủy thành công", "success");
                    button.closest("tr").remove();
                } else {
                    showAlert("Hủy không thành công", "danger");
                }
            })
            .catch(error => console.error("Error accepting athlete:", error));
        }

        function showAlert(message, type) {
            const alertDiv = document.createElement("div");
            alertDiv.className = `alert alert-${type}`;
            alertDiv.textContent = message;
            document.body.appendChild(alertDiv);
            setTimeout(() => {
                alertDiv.remove();
            }, 3000);
        }

        </script>
    </body>
</html>
